body {
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Signika", sans-serif;
  display: flex;
  background-color: #F3EAE8;
}

#textoinfo {
  font-size: 15px;
  color: #4b4b4b;
  margin-bottom: 25px;
}
H2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 8px;
}
.card {
 padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.15);

}


.btn {
  display: block;
  margin: 15px;
  width: 300px;
  padding: 12px;
  border-radius: 33.37px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: #D9D9D9;
  color: #877771;
  text-align: center;
}

.btn:hover {
  background-color: #333;
}


.info {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}


input:invalid {
  border-color: red;
}


.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.modal-content {
  background: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 500px;
  text-align: left;
  
}

.close {
  float: right;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}



#btn-acceder {
  background-color: #FFCC00;
  color: #000;
  font-weight: 700;
  width: 324px;
}

#btn-acceder:hover {
  background-color: #e6b800;
}