body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 2px solid black;
  }
  
  .izquierda, 
  .derecha {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 50px; 
    height: auto;
    margin-right: 15px;
  }
  
  .icono-carrito img {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  
  .nombre-usuario {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    overflow: hidden;
    margin-right: 10px;
  }
  
  .foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .icono-menu {
    font-size: 28px;
    cursor: pointer;
  }
  
  
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #333;
    color: white;
    padding: 20px;
    z-index: 1001;
  
    transform: translateX(100%); 
    transition: transform 0.3s ease; 
  }
  
  .sidebar.open {
    transform: translateX(0); 
  }
  
 
  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 16px;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
  }
  
  .overlay.show {
    opacity: 1;
    visibility: visible;
  }
  
  .sidebar img {
    width: 100%;
    max-width: 200px; /* para que no se deforme */
    margin: 20px auto 0 auto;
    display: block;
  }
  .tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  
  .tarjeta {
    width: 200px;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    padding: 10px;
  }
  
  .tarjeta img {
    width: 100%;
    border-radius: 10px;
  }
  
  .tarjeta button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
  }
  
  .tarjeta button:hover {
    background-color: #555;
  }
  .boton-cerrar {
  width: 100%;
  background: #ff4444;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: background 0.2s ease;
}

.boton-cerrar:hover {
  background: #e13b3b;
}